.PreGame{
    width: inherit;
    height: 100%;
    background-image: url('../../img/PreGame/BackGround.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PreGame p{
    color: chocolate;
}
.PreGame img{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 40px;
}
.PreGame .audioButton{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    outline: none;
    left: 40px;
    top: 40px;
    border-radius: 50%;
}
.PreGame-PlayButton{
    background-image: url('../../img/PreGame/mediaPause.png');
}
.PreGame-PauseButton{
    background-image: url('../../img/PreGame/madiaPlay.png');
}
.PreGame-form{
    display: flex;
    width: 40%;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: yellowgreen;
    font-family: 'anton';
    margin-top: 20%;
}
.PreGame-form h3{
    margin-bottom: 30px;
    font-size: 40px;
}
.PreGame-form input{
    color: yellowgreen;
    background: black;
    padding: 10px 20px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    margin: 10px 0;
    outline: none;
}
.PreGame input[type=submit]:hover{
    background: red;
}
#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}
#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	pointer-events: none;
}
#titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}