@import url('reset.css');
@import url('../../../components/Game/mainGameView/gamePageStyleSheet.css');
@import url('../../../components/Game/taskView/tasks/stylesheet/taskStyle.css');
@import url('../../../components/intoductionView/style/styleIndroductionView.css');
@import url('../../../components/landingPage/style/styleLandingPage.css');
@import url('../../../components/scoreView/style/styleScore.css');
@import url('../../../components/screen/finalPage/style/styleFinalPage.css');
@import url('../../../components/screen/notFoundPage/style/styleNotFoundPage.css');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant');

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
