.GamePage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.canvas {
    box-shadow: 0 0 30px #f8f8f8;
}

.spells-window {
    width: 600px;
    height: 200px;
    background: rgb(253, 234, 205);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: riddleWindow 0.35s;
}

.GamePage img {
    width: 120px;/*Шутишь так делать????????*/
    height: 120px;
}

.GamePage label {
    margin-bottom: 5px;
}

.GamePage input, select {
    padding: 5px;
    font-size: 16px;
}

.GamePage label > input {
    display: flex;
    flex-direction: row;
}

.GamePage label > input[type=radio] {
    visibility: hidden;
    position: absolute;
}

.GamePage label > input + img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 15px;
}

.GamePage label > input:checked + img {
    box-shadow: 0 2px 19px 6px white;
}

@keyframes riddleWindow {
    from {
        transform: scaleX(0.1)scaleY(0.1);
    }
    to {
        transform: scaleX(1)scaleY(1);

    }
}

.riddle-window {
    width: 900px;
    height: 600px;
    background: rgb(253, 234, 205);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: riddleWindow 0.35s;
}

.OpenChooseWindow {
    position: absolute;
    top: 300px;
    left: 570px;
    animation: choose-icon 5s linear infinite;
}

@keyframes choose-icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);

    }
}