.score{
    background-image: url('../img/score/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreContent{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}
.scoreContent h3, .toHomeButton{
    color: wheat;
    text-align: center;
    margin-top: 10px;
    font-family: 'Press Start 2P';
    font-size: 30px;
}
.toHomeButton{
    border: 2px solid black;
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    margin-top: 0;
}
.toHomeButton:hover{
    color: black;
    background-color: wheat;
    cursor: pointer;
}
table{
    font-family: 'Press Start 2P';
    border-collapse: collapse;
    width: 90%;
    margin: 2% auto;
}

td,th {
        border: 2px solid rgba(20, 3, 3, 0.568);
        padding: 8px;
    }

tr{
    background-color: wheat;
}

 tr:hover {
    background-color: black;
    color: wheat;
}
    
 th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: burlywood;
        color: brown;
        font-size: 20px;
    }